<!-- Header -->
<header class="header fixed">
    <div class="container">
        <div class="nav-container">

            <!-- Left side nav -->
            <div class="left-nav alt">
                <span class="tab header-title">Jason Yao</span>

                <div class="tabs">
                    <div class="tab"><a href="/">Home</a></div>
                    <div class="tab"><a href="/#about">About</a></div>
                    <div class="tab"><a href="/#resume">Resume</a></div>
                    <div class="tab"><a href="/#news">News</a></div>
                    <div class="tab"><a href="/#portfolio">Portfolio</a></div>
                    <div class="tab"><a href="/blog/">Blog</a></div>
                </div>
            </div>

            <!-- Right side nav -->
            <div>
                <!-- Sidebar -->
                <amp-sidebar id="sidebar"
                             layout="nodisplay"
                             side="right">
                    <amp-img class="amp-close-image"
                             src="/assets/img/icons/general/exit_button.png"
                             width="20"
                             height="20"
                             alt="close sidebar"
                             on="tap:sidebar.close"
                             role="button"
                             tabindex="0"></amp-img>
                    <!-- Sidebar: Main links -->
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/#about">About</a></li>
                        <li><a href="/#resume">Resume</a></li>
                        <li><a href="/#news">News</a></li>
                        <li><a href="/#portfolio">Portfolio</a></li>
                        <li><a href="/blog/">Blog</a></li>
                    </ul>

                    <!-- Sidebar: Social links -->
                    <hr>
                    <ul  itemscope itemtype="http://schema.org/Person" class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
                        <!-- Linkedin -->
                        <li class="mr2">
                            <a href="{{ site.linkedin_username | prepend: 'https://www.linkedin.com/in/' }}" class="inline-block"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>

                        <!-- Github -->
                        <li class="mr2">
                            <a href="{{ site.github_username | prepend: 'https://www.github.com/' }}" class="inline-block"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>

                        <!-- Email -->
                        <li class="mr2">
                            <a href="{{ site.email_username | append: '@JasonYao.com' | prepend: 'mailto:' }}" class="inline-block"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </li>

                        <!-- Phone -->
                        <li class="mr2">
                            <a href="{{ site.phone_number | prepend: 'tel:' }}" class="inline-block"><i class="fa fa-phone" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </amp-sidebar> <!-- End sidebar -->

                <!-- Responsive hamburger menu -->
                <div class="right alt">
                    <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'></button>
                </div>

            </div><!-- End right nav-->
        </div> <!-- End nav container-->
    </div> <!-- End container -->
</header>




























<!--&lt;!&ndash; Start Navbar &ndash;&gt;-->
<!--<header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">-->
    <!--<div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger md-hide lg-hide pr2">☰</div>-->
    <!--Jason Yao-->
    <!--<nav class="ampstart-headerbar-nav ampstart-nav xs-hide sm-hide" itemscope itemtype="http://www.schema.org/SiteNavigationElement">-->
        <!--<ul class="list-reset center m0 p0 flex justify-center nowrap">-->
            <!--<li class="ampstart-nav-item" itemprop="name"><a itemprop="url" href="/" class="text-decoration-none block">Home</a></li>-->
            <!--<li class="ampstart-nav-item" itemprop="name"><a itemprop="url" href="/#about" class="text-decoration-none block">About</a></li>-->
            <!--<li class="ampstart-nav-item" itemprop="name"><a itemprop="url" href="/#resume" class="text-decoration-none block">Resume</a></li>-->
            <!--<li class="ampstart-nav-item" itemprop="name"><a itemprop="url" href="/#news" class="text-decoration-none block">News</a></li>-->
            <!--<li class="ampstart-nav-item" itemprop="name"><a itemprop="url" href="/#portfolio" class="text-decoration-none block">Portfolio</a></li>-->
            <!--<li class="ampstart-nav-item" itemprop="name"><a itemprop="url" href="/blog/" class="text-decoration-none block">Blog</a></li>-->
        <!--</ul>-->
    <!--</nav>-->
<!--</header>-->

<!--&lt;!&ndash; Start Sidebar &ndash;&gt;-->
<!--<amp-sidebar id="header-sidebar" layout="nodisplay" side="right" class="ampstart-sidebar">-->
<!--&lt;!&ndash;<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3 md-hide lg-hide" layout="nodisplay">&ndash;&gt;-->
    <!--<div class="flex justify-start items-center ampstart-sidebar-header">-->
        <!--<div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>-->
    <!--</div>-->
    <!--<nav class="ampstart-sidebar-nav ampstart-nav">-->
        <!--<ul class="list-reset m0 p0 caps h5">-->
            <!--<li class="ampstart-nav-item"><a href="/" class="text-decoration-none block">Home</a></li>-->
            <!--<li class="ampstart-nav-item"><a href="/#about" class="text-decoration-none block">About</a></li>-->
            <!--<li class="ampstart-nav-item"><a href="/#resume" class="text-decoration-none block">Resume</a></li>-->
            <!--<li class="ampstart-nav-item"><a href="/#news" class="text-decoration-none block">News</a></li>-->
            <!--<li class="ampstart-nav-item"><a href="/#portfolio" class="text-decoration-none block">Portfolio</a></li>-->
            <!--<li class="ampstart-nav-item"><a href="/blog/" class="text-decoration-none block">Blog</a></li>-->
        <!--</ul>-->
    <!--</nav>-->

    <!--&lt;!&ndash; Social icons &ndash;&gt;-->
    <!--<ul  itemscope itemtype="http://schema.org/Person" class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">-->
        <!--&lt;!&ndash; Linkedin &ndash;&gt;-->
        <!--<li class="mr2">-->
            <!--<a href="{{ site.linkedin_username | prepend: 'https://www.linkedin.com/in/' }}" class="inline-block"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
        <!--</li>-->

        <!--&lt;!&ndash; Github &ndash;&gt;-->
        <!--<li class="mr2">-->
            <!--<a href="{{ site.github_username | prepend: 'https://www.github.com/' }}" class="inline-block"><i class="fa fa-github" aria-hidden="true"></i></a>-->
        <!--</li>-->

        <!--&lt;!&ndash; Email &ndash;&gt;-->
        <!--<li class="mr2">-->
            <!--<a href="{{ site.email_username | append: '@JasonYao.com' | prepend: 'mailto:' }}" class="inline-block"><i class="fa fa-envelope" aria-hidden="true"></i></a>-->
        <!--</li>-->

        <!--&lt;!&ndash; Phone &ndash;&gt;-->
        <!--<li class="mr2">-->
            <!--<a href="{{ site.phone_number | prepend: 'tel:' }}" class="inline-block"><i class="fa fa-phone" aria-hidden="true"></i></a>-->
        <!--</li>-->
    <!--</ul>-->









    <!--<script type="application/ld+json">-->
<!--{ "@context" : "http://schema.org",-->
  <!--"@type" : "Organization",-->
  <!--"name" : "Your Organization Name",-->
  <!--"url" : "http://www.your-site.com",-->
  <!--"sameAs" : [ "http://www.facebook.com/your-profile",-->
    <!--"http://www.twitter.com/yourProfile",-->
    <!--"http://plus.google.com/your_profile"]-->
<!--}-->
<!--</script>-->


    <!--&lt;!&ndash;<span>&ndash;&gt;-->
  <!--&lt;!&ndash;<link itemprop="url" href="http://www.your-company-site.com">&ndash;&gt;-->
  <!--&lt;!&ndash;<a itemprop="sameAs" href="http://www.facebook.com/your-company">FB</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a itemprop="sameAs" href="http://www.twitter.com/YourCompany">Twitter</a>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--</amp-sidebar>-->
<!--&lt;!&ndash; End Sidebar &ndash;&gt;-->
<!--&lt;!&ndash; End Navbar &ndash;&gt;-->

