---
layout: amp/base
excerpt: Sorry, you're having connectivity issues and can't reach the broader internet! Don't worry though, this site is optimized for offline support, so you can still navigate the following posts until you find a connection to the internet again!
title: Offline
---
<div id="project" class="ampstart-card m1">
    <main>
        <div class="heading">
            <h1>Offline | Service Workers to the Rescue!</h1>
            {% include amp/social_sharing.html %}
        </div>

        <h1>Network Connectivity Issues</h1>

        <p>
            Hey! Looks like you're having some internet
            connectivity issues and can't reach the broader
            internet! Don't worry though, this site is optimized
            for offline support, so you can still navigate
            the following posts until you find a connection
            to the internet again!
        </p>

        <h2>General Writings, Rants, and Existential Crisis</h2>
        <ul>
            {% for post in site.posts limit:10 %}
                <li><a href="{{ post.url | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>

        <hr>

        <h2>Prior Projects</h2>
        <ul>
            {% for project in site.projects limit:10 %}
                <li><a href="{{ project.url | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">{{ project.title }}</a></li>
            {% endfor %}
        </ul>
    </main>
</div>

