{% if page.comments != false %}
    <!-- Enables disqus commenting -->
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://jasonyao.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>
        Hey! Looks like your JavaScript is disabled. If you'd like to see the comments,
        go ahead and re-enable it. Or don't, it's your life to live.
    </noscript>
{% else %}
    <p>
        Hey there! Sorry, but commenting on this page has been disabled.
        If you think this is an error, go ahead and drop me a line
        <a href="{{ site.email_username | append: '@JasonYao.com' | prepend: 'mailto:' }}">here</a>.
    </p>
{% endif %}
