<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="My personal website for technical articles, memes, and rants. None of this nor I should be taken seriously at any point in time.">
<meta name="author" content="Jason Yao">
<title>{{ site.title | default: site.github.repository_name }} | {{ page.page }}</title>

<!--
The road ahead is dangerous, a safety pig is provided to guide you along your journey!
_._ _..._ .-',     _.._(`))
'-. `     '  /-._.-'    ',/
  )         \            '.
 / _    _    |             \
|  a    a    /              |
\   .-.                     ;
 '-('' ).-'       ,'       ;
    '-;           |      .'
       \           \    /
       | 7  .__  _.-\   \
       | |  |  ``/  /`  /
      /,_|  |   /,_/   /
         /,_/      '`-'
-->

<!-- Opengraph Metadata tags: http://ogp.me/ -->
<meta property="og:title" content="{{ site.title | escape }} | {% if page.title %}{{ page.title | escape }}{% else %}Home{% endif %}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

<meta property="og:image" content="{{ site.url }}/assets/img/posts/0-hamilton.jpg" />
<meta property="og:image:secure_url" content="{{ site.url }}/assets/img/posts/0-hamilton.jpg" />
<meta property="og:image:type" content="image/jpg" />
<meta property="og:image:width" content="1463" />
<meta property="og:image:height" content="1850" />

<!-- Google's Webmaster verification (keep this after initial verification) -->
<meta name="google-site-verification" content="bS_JqKuXEPzN-1VZ4w0kc-PhpPeTs-ng8VtsvpnwXCU" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Note: We leverage the Filamentgroup's loadCSS for non-blocking, async preloading of assets -->

<!-- Web Fonts -->
<link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Open+Sans" onload="this.rel='stylesheet'">
<noscript><link rel='stylesheet' type='text/css' href='"https://fonts.googleapis.com/css?family=Open+Sans'></noscript>

<!-- CSS Global Compulsory -->
<link rel="preload" as="style" href="/assets/plugins/bootstrap/css/bootstrap.min.css" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css"></noscript>
