<!--=== Header v8 ===-->
<div class="header-v8 header-sticky">
    <!-- Navbar -->
    <div class="navbar mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="res-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo -->
                <div class="navbar-brand"><a href="/">Jason Yao</a></div>
            </div><!--/end responsive container-->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="res-container">
                    <ul class="nav navbar-nav">
                        <li class="dropdown mega-menu-fullwidth"><a href="/#intro">Home</a></li>
                        <li class="dropdown mega-menu-fullwidth"><a href="/#about/">About</a></li>
                        <li class="dropdown mega-menu-fullwidth"><a href="/#resume/">Resume</a></li>
                        <li class="dropdown mega-menu-fullwidth"><a href="/#news/">News</a></li>
                        <li class="dropdown mega-menu-fullwidth"><a href="/#portfolio/">Portfolio</a></li>
                        <li class="dropdown mega-menu-fullwidth"><a href="/blog/">Blog</a></li>
                    </ul>
                </div><!--/responsive container-->
            </div><!--/navbar-collapse-->
        </div><!--/end contaoner-->
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header v8 ===-->
