<!doctype html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head itemscope itemtype="http://schema.org/WebSite">
    {% include head.html %}

    {% include {{ layout.css }} %}
</head>
<!--
The #page-top ID is part of the scrolling feature.
The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body {{ layout.body_class }}>
{% include {{ layout.navbar }} %}

{% include service_worker.html %}

{{ content }}

{% include {{ layout.js }} %}

{% include google_analytics.html %}
</body>
</html>
