<figure>
    <amp-img on="tap:lightbox1"
             role="button"
             tabindex="0"
             src="{{ page.img[1].name | prepend: '/assets/img/projects/' }}"
             alt="{{ page.img[1].alt_text }}"
             title="{{ page.img[1].caption }}"
             layout="responsive"
             width="{{ page.img[1].width }}"
             height="{{ page.img[1].height }}">

        <noscript>
            <img src="{{ page.img[1].name | prepend: '/assets/img/projects/' }}"
                 alt="{{ page.img[1].alt_text }}">
        </noscript>
    </amp-img>
    <figcaption>{{ page.img[1].caption }}</figcaption>
</figure>