<figure>
    <amp-img on="tap:lightbox1"
             role="button"
             tabindex="0"
             src="{{ page.img[3].name | prepend: '/assets/img/projects/' }}"
             alt="{{ page.img[3].alt_text }}"
             title="{{ page.img[3].caption }}"
             layout="responsive"
             width="{{ page.img[3].width }}"
             height="{{ page.img[3].height }}">

        <img class="i-amphtml-fill-content i-amphtml-replaced-content"
             src="{{ page.img[3].name | prepend: '/assets/img/projects/' }}"
             alt="{{ page.img[3].alt_text }}">

    </amp-img>
    <figcaption>{{ page.img[3].caption }}</figcaption>
</figure>